*{ 
    margin: 0;
    padding: 0;

}

body{
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: #e6e6e6;
}


h1{
    color: #4e4e4e;
    font-size: 2.5em;
}

.branco{
    color: white;
}

#logo {
    background-color: #f70084;
    padding: 5px;
    text-align: center;
    margin-bottom: 20px;
}

#menu{
    background-color: white;
    padding: 5px;
    text-align: center;
    margin-bottom: 20px;
}

a{
    text-decoration: none ; 
}

#menu a:link, #menu a:visited {
    color: black;
}

#menu a:hover{
    color: #f7b600;
    background: #fff;
}

#area-principal{
    width: 920px;
    margin:10px auto;
    
    background: white;
}


 
}
    display: block;

}

#conteudo{

    width: 660px;
    float: left
}

.conteudo{
    padding: 0px;
    margin-bottom: 220px;
    text-align: center;
    margin-bottom: 0px;

}



.direitos{
    background: #ccc;
    text-align: center;
    clear: both;
    padding: 15px;
  

}

.whats{
    text-align: center;
}